
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
   
    margin: 15px 40px;
    background-color: #F5F5F5;
    
}
body {
    margin: 0;
    padding: 0;
  }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-in{
border: 1px solid #006A50;
color: #006A50;
border-radius: 8px;
width: 116px;
padding: 17px 10px;
font-weight: bolder;
font-size: 18px;
cursor: pointer;

}
.sign-in:hover{
    background-color: #006A50;
    color: #FFFFFF;
}
section{
    margin: 60px;
}
.sec-1{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 24px;
    align-items: center;
    padding: 60px 20px;
    margin-top: 30px;
    margin-bottom: 70px;
}
.div-1{
    background-color: #C6E4D6;
}
.pillar-div{
    display: flex;
    justify-content: space-between;
    
}
.pillar-items{
    border-radius: 16px;
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    
    padding: 20px 0;
    
}
.pillar-title{
    background-color: #FFFFFF;

}
.pillar-des{
    background-color: #FFFFFF;
}
.pillar-img{
    background-color: #FFFFFF;
}
.sec-div-1 h2{
    font-size: 35px;
}


.vision-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

.vis-item-1 {
    border-radius: 16px;
    
    background-color: rgba(84, 144, 245, 0.2);
    
    
}
.vis-item-1 h3, .vis-item-1 p, .vis-item-1 img {
    background-color: transparent; /* Remove background from child elements */
    
}
.lrn-blu{
    background-color: rgba(84, 144, 245, 1);
    border-radius: 8px;
    width: 122px;
    padding: 15px 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.vis-item-2 {
    border-radius: 16px;
    
    background-color: rgba(198, 228, 214, 1)
    
}
.vis-item-2 h3, .vis-item-2 p, .vis-item-2 img {
    background-color: transparent; /* Remove background from child elements */
    
}
.lrn-green{
    background-color: rgba(9, 161, 92, 1);
    border-radius: 8px;
    width: 122px;
    padding: 15px 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}


.vis-item-3 {
    border-radius: 16px;
    
    background-color: rgba(247, 235, 207, 1);
    
}
.vis-item-3 h3, .vis-item-3 p, .vis-item-3 img {
    background-color: transparent; /* Remove background from child elements */
    
}
.lrn-yellow{
    background-color: rgba(255, 194, 57, 1);
    border-radius: 8px;
    width: 122px;
    padding: 15px 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.vis-title{
    font-size: 35px;
    font-weight: bolder;
}
.yunus-div{
    border-radius: 16px;
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin-top: 30px;
    padding: 20px 0;
    background-image: url('/assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 40px 10px;
    
}
.yunus-div p, .yunus-div h3{
    background-color: transparent;
}
.yunus-div .chief {
    margin-top: 0; /* Remove top margin */
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
}

.yunus-div h3 {
    margin-bottom: 0; /* Remove bottom margin of h3 */
    font-size: 21px;
}
.yunus-div p{
    font-size: 18px;
}
table {
    border-collapse: collapse; /* Merges borders to avoid double borders */
    width: 95%; 
    padding: 50px;
}
th{
    border: none;
    padding: 20px;
    background-color: rgba(198, 228, 214, 1);
}
td{
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
}

.table-div{
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 32px;
    
}
.opinion-div{
    
    align-items: flex-start;
}
.h2-div{
    margin-left: 0%;
}
.h2-div h2{
    font-size: 35px;
}
select{
    background-color: rgba(198, 228, 214, 1);
    width: 150px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;


}
select option:hover{
    background-color: #006A50;
    color: #FFFFFF;
}
.news-1{
    display: flex;
    border-radius: 24px;
    background-color: #FFFFFF;
}
.sat-2, .sat, .sat-2 h2, .sat-2 time, .sat-2 p, .sat-2 img{
    background-color: transparent;
}
.sat img{
    border-radius: 24px;
}


.news-2{
    display: flex;
    border-radius: 24px;
    background-color: #FFFFFF;
}
.sat-2, .sat, .sat-2 h2, .sat-2 time, .sat-2 p, .sat-2 img{
    background-color: transparent;
}
.news-3{
    display: flex;
    border-radius: 24px;
    background-color: #FFFFFF;
}
.sat-2, .sat, .sat-2 h2, .sat-2 time, .sat-2 p, .sat-2 img{
    background-color: transparent;
}
.sat-2{
    align-items: start;
}

.time, .news-des{
    color: rgba(14, 14, 14, 0.7);
}
.span-time{
    background-color: transparent;
    margin-left: 15px;
}
.time{
    margin-top: 0px;
}
.recent-des{
    color: rgba(14, 14, 14, 0.7);
}
.donate-title{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
     
}
.news-title{
    font-size: 35px;
    font-weight: bolder;
    margin-top: 50px;   
}
.news-1{
    display: flex;
    border-radius: 24px;
    background-color: #FFFFFF;
}
.sat-2, .sat, .sat-2 h2, .sat-2 time, .sat-2 p, .sat-2 img{
    background-color: transparent;
}
.sat img{
    border-radius: 24px;
}


.news-2{
    display: flex;
    border-radius: 24px;
    background-color: #FFFFFF;
}
.sat-2, .sat, .sat-2 h2, .sat-2 time, .sat-2 p, .sat-2 img{
    background-color: transparent;
}
.news-3{
    display: flex;
    border-radius: 24px;
    background-color: #FFFFFF;
}
.sat-2, .sat, .sat-2 h2, .sat-2 time, .sat-2 p, .sat-2 img{
    background-color: transparent;
}
.sat-2{
    align-items: start;
}

.time, .news-des{
    color: rgba(14, 14, 14, 0.7);
}
.span-time{
    background-color: transparent;
    margin-left: 15px;
}
.time{
    margin-top: 0px;
}
.recent-des{
    color: rgba(14, 14, 14, 0.7);
}
.donate-title{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
     
}
.news-title{
    font-size: 35px;
    font-weight: bolder;
    margin-top: 50px;   
}
